$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* Space out content a bit */

body {
    padding-top: 20px;
    padding-bottom: 20px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}


/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}


/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

* {
    // border: 1px solid #faaf00;
}

.box {
    position: relative;
}

.base {
    background-image: url('../images/transparent.png');
    width: 550px;
    height: 780px;
    background-repeat: no-repeat;
}

.top {
    background-image: url('../images/top.png');
    width: 487px;
    height: 347px;
    position: absolute;
    top: 0px;
    left: 19px;
    background-repeat: no-repeat;
}

.middle {
    background-image: url('../images/mid.png');
    width: 539px;
    height: 410px;
    position: absolute;
    top: 241px;
    left: 0px;
    background-repeat: no-repeat;
}

.bottom {
    background-image: url('../images/bottom.png');
    width: 473px;
    height: 221px;
    position: absolute;
    top: 547px;
    left: 20px;
    background-repeat: no-repeat;
}

.layer {
  opacity: 0;
  transition: all 0.5s ease;
}

.selectors-buttons {
  ul {
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }
}

.info {
  background-color: #988583;
  padding: 10px;
  color: white;
  margin: 20px 0;
  transition: all 0.5s ease;
  opacity:0;
}

.active {
  opacity: 1;
}